@media (max-width: 1280px){

    body{
        padding: 25px;
    }

    footer{
        padding: auto;
    }
}

@media (max-width: 450px) {
    
    body{
        padding: 10px;
    }

    footer{
        padding: auto;
    }
}