html{
    color: rgba(255, 228, 196, 0.774);
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    margin: 0 auto 0 auto;
    max-width: 1120px;
    background: linear-gradient(150deg, #000000, #8a00dfc4);
    background-size: 120% 120%;
}

h1{
    background-color: inear-gradient(150deg, #2a024b, #000000a4);
    height: auto;
    font-family: sans-serif;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: darkgray;
}

li{
    display: inline-block;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 60px;
}
.list li a{
    color: rgb(116, 118, 228);
    background: linear-gradient(150deg, #1100f8, #390b55);
    width: 50px;
    height: 40px;
    border-radius: 40%;
    border: 0px solid #fff;
    text-decoration: underline;
    text-align: center;
    line-height: 35px;
    font-family: "Raleway", sans-serif;
    transition: 0.2s;
}

.list li a:hover{
    color: #7043d8;
    border: 0px solid #7043d8
}

img{
    display: flex;
    max-width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}

.foto{
    border-radius: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

footer{
    background-color: inear-gradient(150deg, #2a024b, #000000a4);
    height: auto;
    height: auto;
    font-family: 'Arial Narrow';
    padding-top: 50px;
    color: darkgrey;
    text-align: center;
}

.redesSociais{
    gap: 20px;
    margin: 15px;
}

.redesSociais li a{
    border-radius: 40%;
    border: 1px solid #fff;
    width: 40px;
    height: 30px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
}

.redesSociais a:hover{
    color: #22196e;
    border: 1px solid #5243d8;
    transform: scale(1.5);
}

